ion-content {
    top: 0px !important;
}

ion-content.background{
    --background: url('../../assets/img/bg-home.jpg') 0 0/100% 100% no-repeat;
}

.layer {
    background-color: rgba(33, 33, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid {
    height: 100%;
    justify-content: center;
}

.auth-form ion-row {
    height: 50%;
}

ion-button {
    width: 100%;
    --padding-start: 5px;
    --padding-end: 5px;
}

ion-button.facebook {
    background: #3b5998;
}

:root {
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
}