.small-text {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

ion-button.facebook {
  background: #3b5998;
}

ion-button.google {
  background: #ffffff;
  color: #444;
}

:root {
  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;

  --ion-color-google: #ffffff;
  --ion-color-google-rgb: 255,255,255;
  --ion-color-google-contrast: #000000;
  --ion-color-google-contrast-rgb: 0,0,0;
  --ion-color-google-shade: #e0e0e0;
  --ion-color-google-tint: #ffffff;
}

.ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook);
  --ion-color-base-rgb: var(--ion-color-facebook-rgb);
  --ion-color-contrast: var(--ion-color-facebook-contrast);
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb);
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint);
}

.ion-color-google {
  --ion-color-base: var(--ion-color-google);
  --ion-color-base-rgb: var(--ion-color-google-rgb);
  --ion-color-contrast: var(--ion-color-google-contrast);
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-google-shade);
  --ion-color-tint: var(--ion-color-google-tint);
}
