<ion-content class="auth-form background">
  <ion-grid class="layer">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <div class="ion-text-center">
          <h1 class="app-logo">logo</h1>
        <p class="app-tagline">Faites le grand saut !</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-center" size="12">
        <div class="ion-text-center">
          <ion-button class="orange" color="orange" expand="full" [routerLink]="['/registration']">
            Créer un compte
          </ion-button>
          <span class="divider line one-line">ou</span>
          <ion-label color="light" [routerLink]="['/login']">Vous avez déjà un compte ?</ion-label>
        </div>
      </ion-col>
      <ion-col class="ion-align-self-center">
        <div class="ion-text-center">
          <span>
            En vous inscrivant, vous acceptez nos conditions de service et notre politique de confidentialité.
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>