ion-content {
    top: 0px !important;
}

ion-content.background{
    --background: url(img/bg-not-facebook.jpg) 0 0/100% 100% no-repeat;
}

.layer {
    background-color: rgba(33, 33, 33, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid {
    height: 100%;
    justify-content: center;
}

.auth-form ion-row {
    height: 50%;
}

ion-button {
    width: 100%;
    --padding-start: 5px;
    --padding-end: 5px;
}

ion-button.orange {
    background: #fc7c27;
}

:root {
  --ion-color-orange: #fc7c27;
  --ion-color-orange-rgb: 252,124,39;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #de6d22;
  --ion-color-orange-tint: #fc893d;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}

span {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
}